<!DOCTYPE html>
<html>
	<head>
		<title>Online Lawyer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../static/css/main.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>

			<header id="header" class="alt">
				<div class="logo"><a href="/">Online Lawyer</a></div>
				<a href="#menu" class="toggle"><span>Меню</span></a>
			</header>

			<nav id="menu">
				<ul class="links">
					<li><a href="/">Домашня сторінка</a></li>
				</ul>
			</nav>

			<section id="banner" data-video="images/banner">
				<div class="inner">
					<h1 align="center">Онлайн адвокат</h1>
					<p align="left">Юридична консультація без людського ресурсу. <br />
                        Опишіть ситуацію та отримайте відповідь. </p>
					<a href="#one" class="button special scrolly">Дізнатись більше</a>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="../static/images/3.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<h2>Про ідею</h2>
									<p>Теперішня реалізація не є досконалою та остаточною, проте точно багато обіцяє</p>
								</header>
								<hr />
                                <p> Ідея має на меті зменшення людського фактору при прийнятті рішень щодо людських прав та дій.</p>
								<p> На даний момент застосунок вміє розпізнавати статті, про які йдеться у введенній користувачем ситуації. Цей процес не є досконалим через малий проміжок часу, що був на виконання, та брак досвіду. Проте це було першим кроком до автоматизації процесу юридичної еонсультації та буде вдосконалено згодом.</p>
								<p> Як приклади для глибинного навчання було взято задачі із кимінального права. За основу статтей та пунктів вибрано Кримінальний кодекс України згідно до змін 06.02.2020. Хоч поки такий ресурс може лише допомогти зменшити вибір серед усіх статтей до певної кількості, та згодом можливо і повністю замінить людей в юридичній допомозі. </p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>Простота використання</h3>
							</header>
							<p>Описати події - єдине, що потрібно зробити. Все інше зробить система.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Дізнатись більше</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>Відсутність суб'єктивності</h3>
							</header>
							<p>Уникнення людського ресурсу збільшить точність судів, покарань тощо</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Дізнатись більше</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>Зручність використання</h3>
							</header>
							<p>Дані можна зберегти у різному форматі чи просто перейти одразу на потрібний розділ Кримінального Кодексу України</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Дізнатись більше</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="../static/images/5.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Юридичні новини</h2>
										<p>(Всеукраїнське щотижневе професійне видання)</p>
									</header>
									<hr />
									<p>Повідомлення про зміни до Кримінального кодексу України, інтерв'ю з видатними юристами, поради, як діяти в певних ситуаціях - усе це за наведеним посиланням. Найкращий захист - обізнаність. Читай найактуальнішу інформацію щодо правових змін за <a href="https://yur-gazeta.com/news/">посиланням</a>.</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="../static/images/7.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Кримінальний кодекс України</h2>
										<p>(Відомості Верховної Ради України)</p>
									</header>
									<hr />
									<p> Документ 2341-III, чинний, поточна редакція — Редакція від 28.04.2020, підстава - 361-IX. Переглянути можна <a href="https://zakon.rada.gov.ua/laws/show/2341-14">тут</a>.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>Natūra incipit, ars dirigit, usus perficit</h2>
						<p>Природа починає, мистецтво спрямовує, досвід завершує. Щоб чинити справедливо, треба знати небагато, але щоб за усіма підставами чинити несправедливість, треба дуже ґрунтовно вивчити право.</p>
					</header>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">Класифікація ситуації</h2>
                                <h1 align="center">Якщо хочете отримувати новини щодо покращень, залишіть своє ім'я та електронну адресу. У іншому випадку залишіть поля пустими.</h1>
								<hr />
								<form action="#"  method="POST">
									<div class="field half first">
										<label for="name">Ім'я</label>
										<input name="name" id="name" type="text" placeholder="Name">
									</div>
									<div class="field half">
										<label for="email">Електронна адреса</label>
										<input name="email" id="email" type="email" placeholder="Email">
									</div>
									<div class="field">
										<label for="dept">Категорія</label>
										<div class="select-wrapper">
											<select name="dept" id="dept">
												<option value="">- Категорія -</option>
												<option value="Словесний злочин">Словесний злочин</option>
												<option value="Крадіжка">Крадіжка</option>
												<option value="Тілесна шкода">Тілесна шкода</option>
												<option value="Інше">Інше</option>
											</select>
										</div>
									</div>
									<div class="field">
										<label for="message">Ситуація</label>
										<textarea name="message" id="message" rows="6" placeholder="Опишіть ситуацію якнайточніше"></textarea>
									</div>
									<ul class="actions align-center">
										<li><input value="Відправити" name="comment_content" class="button special" type="submit"></li>
									</ul>
								</form>
							</div>
						</div>
					</section>
					<div class="copyright">
						&copy; UCU. APPS. 2020
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>

</html>